
<body>
<div class="container">
  <div class="starter-template">
    <h1>VisFig</h1>

    <p class="lead">Welcome to VisFig! Simple and sleek way to reproduce others figures using your own datasets. </p>

    <p> All you need is the URL to your dataset and you're ready to go! Select a visualisation, pop in a link to your dataset, and generate beautiful interactive graphs. </p>
  </div>

  <table style="width:100%">
    <tr >
      <th><h2 style="">Visualisation</h2></th>
      <th><h2>Data Description</h2></th>
    </tr>
    <tr style="height:300px">
      <td><h4><%= link_to "chart/barchart", "chart/barchart"%> </h4>
        <%= image_tag 'bar_chart.png', :style => "width:300px" %>
      </td>
      <td>2 Columns of discrete numerical values</td>
    </tr>

    <tr style="height:300px">
      <td><h4><a href="figshare.html">Area charts</a></h4>
        <%= image_tag 'area_chart.png', :style => "width:300px" %>
      </td>
      <td>3 Columns. of discrete numerical values</td>
    </tr>

    <tr style="height:300px">
      <td><h4><a href="figshare.html">Line Diagram</a></h4>
        <%= image_tag 'pie_chart.png', :style => "width:300px" %>
      </td>
      <td>2 Columns of discrete numerical values</td>
    </tr>
  </table>
</div>



<div id="footer">
  <p>

  </p>
</div>

</body>